.logo {
  height: 150px;
  border-radius: 5px;
}

.subtitle {
  font-style: italic;
  font-size: x-large;
  color: rgb(155, 155, 155);
}

.featuredHouse {
  border-radius: 2px;
  background-color: rgb(255, 255, 255);
}
